 <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
<div class="details">
    {{#with serie}}
    <div>
        <img src="{{image2}}" alt="">
    </div>
    <h4>Title: {{title}}</h4>
    <p class="p">Cast : {{cast}}</p>
    <p class="pg"> Genre : {{genre}}</p>
    <span>Description : {{description}}</span>
    <p class="rate"><strong>Rate : {{rate}}</strong></p>
    <a href="/delete/serie/{{id}}">Deletear serie</a>
    {{/with}}
</div>