<h1>Deatils</h1><a href="/series">Series</a>
<div>
    {{#each serie}}
       <h4>{{title}}</h4>
       <p>{{cast}}</p>
       <p>{{genre}}</p>
       <img src="{{image}}" alt="">
       <span>{{description}}</span>
       <p><strong>{{rate}}</strong></p>
    {{/each}}
</div>