<div>
    {{#each series}}
       <h4>{{title}}</h4>
       <p>{{cast}}</p>
       <p>{{genre}}</p>
       <img src="{{image}}" alt="">
       <span>{{description}}</span>
       <p><strong>{{rate}}</strong></p>
    {{/each}}
</div>