<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="stylesheets/navbar.css">
  <link rel="stylesheet" href="stylesheets/carousel.css">
  <link rel="stylesheet" href="stylesheets/carousel-banner.css">
  <link rel="stylesheet" href="stylesheets/series.css">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
  
  <title>Document</title>
  </head>
   <script src="/navbar.js"></script>

<body>
        <div class="navbar">
            <div class="logo">
                <h1 >IRONSERIES</h1>
                <link rel="stylesheet" href="/auth/login.hbs">
            </div>    
            <div class="menu">
                <div class="menu-button bt1 unselectable"><a class="active" href="/login">HOME</a></div>
                <div class="menu-button bt2 unselectable"><a class="active" href="/signup">CADASTRE-SE</a></div>
                <div class="menu-button bt3 unselectable"><a class="nav-location"href="/series">SÉRIES</a></div>
            </div>
        
        <div class="menu-mobile-btn">
            <div class="hamburger">
                <div class="hamb-ico"><p onclick="myFunction()" class="dummyicon unselectable">X</p></div>
            </div>
            <div id="menu-mob" class="menu-mobile">
                <div class="menu-button bt1 unselectable"><a class="active" href="/login">home</a></div>
                <div class="menu-button bt2 unselectable"><a class="active" href="/signup">cadastre-se</a></div>
                <div class="menu-button bt3 unselectable"><a class="nav-location" href="/series">séries</a></div>
            </div>
         </div>
        </div>

<div class="background">
  <section>
    
      <div class="carousel">
    <div class="carousel-inner">
        
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item">
            <img src="https://i.ibb.co/LCsYXgb/Slide1.png">
        </div>
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="https://i.ibb.co/R9vMLpz/Slide2.png">
        </div>
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="https://i.ibb.co/tHswnKY/Slide3.png">
        </div>
        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-1" class="carousel-control next control-3">›</label>
        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
        </ol>
    </div>
</div>
    </div>
  </section>

  <h1 class="h1"   style="color: white;">Liste suas séries</h1>

{{!************************* Carousel***********************}}


<div class="box">              
    {{#each series}}
    
  <div class="box1">
   
      <a href="/serie/{{id}}">
        <img style="width: 400px; heigth: 290px;" src="{{image}}" alt="">
      </a>
  </div>
{{/each}}
</div>  
</div> 















{{!-- 
<div class="box">              
    {{#each series}}
    
    <div class="box img">
     <img style="width: 400px; heigth: 290px;" src="{{image}}" alt="">
      
             <div class="text-area">
                <p class="rate"><strong>Rate : {{rate}}</strong></p>
                <p class="genre"> <strong>Genre:</strong> {{genre}}</p>
                <p class="description"><strong>Description:</strong> {{description}}</p>
               
                           
               
             </div>
{{/each}}
        
    </div>
</div>  
  --}}






{{!-- <div class="wrapper">
    <div class="single-team">
        <div class="box img">
           
            <div class="box-img-text">
                
                <div class="text-area">
                    <h2>Title: {{title}}</h2>
                    <p class="pg"> Genre: {{genre}}</p>
                    <p class="rate"><strong>Rate : {{rate}}</strong></p>
                </div>
            </div>
        </div>
    </div>
</div> --}}