<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel=""
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="stylesheets/navbar.css">
  <link rel="stylesheet" href="stylesheets/carousel.css">
  <link rel="stylesheet" href="stylesheets/carousel-banner.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
  
  <title>Document</title>
  </head>
  <script src="/navbar.js"></script>
<body>
  
  
        <div class="navbar">
           <div class="logo">
        
          <h1 >IRONSERIES</h1>
          <link rel="stylesheet" href="/auth/login.hbs">
                
      </div>
            <div class="menu">
                <div class="menu-button bt1 unselectable"><a class="active" href="/login">HOME</a></div>
                <div class="menu-button bt2 unselectable"><a class="active" href="/signup">CADASTRE-SE</a></div>
                <div class="menu-button bt3 unselectable"><a class="active"href="/series">SÉRIES</a></div>
            </div>
            <div class="menu-mobile-btn">
                <div class="hamburger">
                    <div class="hamb-ico"><p onclick="myFunction()" class="dummyicon unselectable">X</p></div>
                </div>
            </div>
            <div id="menu-mob" class="menu-mobile">
                <div class="menu-button bt1 unselectable"><a class="active" href="/login">HOME</a></div>
                <div class="menu-button bt2 unselectable"><a class="active" href="/signup">CADASTRE-SE</a></div>
                <div class="menu-button bt3 unselectable"><a class="active"href="/series">SÉRIES</a></div>
            </div>
        
    </div>
<div class="details">
    {{#with serie}}
    <div>
        <img src="{{image}}" alt="">
    </div>
    <h4>Title: {{title}}</h4>
    <p class="p">Cast : {{cast}}</p>
    <p class="pg"> Genre : {{genre}}</p>
    <span>Description : {{description}}</span>
    <p class="rate"><strong>Rate : {{rate}}</strong></p>
    <a href="/serie/delete/{{id}}">Deletar serie</a>
    <a href="/create/serie">Adicionar serie</a>
    {{/with}}
</div>