<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="stylesheets/navbar.css">
        <link rel="stylesheet" href="stylesheets/carousel.css">
        <link rel="stylesheet" href="stylesheets/carousel-banner.css">
        <link rel="stylesheet" href="stylesheets/profile.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
        <title>Home</title>
    </head>
    <script src="/navbar.js"></script>
    
    <body>
      
            <div class="logo">
                <h1 class="logo">IRONSERIES</h1>
                <link rel="stylesheet" href="/auth/login.hbs">
            <div class="menu">
                <div class="menu-button bt1 unselectable"><a class="nav-location" href="/login">HOME</a></div>
                <div class="menu-button bt2 unselectable"><a class="active" href="/signup">CADASTRE-SE</a></div>
                <div class="menu-button bt3 unselectable"><a class="active"href="/series">SÉRIES</a></div>
            </div>
        
            <div id="menu-mob" class="menu-mobile">
                <div class="menu-button bt1 unselectable"><a class="nav-location" href="/login">HOME</a></div>
                <div class="menu-button bt2 unselectable"><a class="active" href="/signup">CADASTRE-SE</a></div>
                <div class="menu-button bt3 unselectable"><a class="active"href="/series">SÉRIES</a></div>
            </div>
        </div>
<div class="details">
    {{#with serie}}
    <div>
        <img src="{{image}}" alt="">
    </div>
    <div class="serie-details">
    <h1>SÉRIE: {{title}}</h1>
    <span>CAST : {{cast}}</span>
    <span>GENRE : {{genre}}</span>
    <span>DESCRIPTION : {{description}}</span>
    <span>RATE: {{rate}}</span>
    <P><a class="add-delete" href="/serie/delete/{{id}}">Deletar serie</a></P>
    <P><a class="add-delete" href="/create/serie">Adicionar serie</a></P>
    {{/with}}
    </div>
</div>